/**
 * linhlc
 */
.btn-inline {
    margin-top: 25px;
}

.modal-content {  
    border-radius: 4px;
    outline: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-custom-menu > .navbar-nav > .admin-menu > .dropdown-menu {
    border-radius: 4px;
    outline: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 5px 0;
    margin: 2px 0 0;
    width: 180px;
}

.has-error .form-control-feedback {
    color: #a94442;
}

.reset-pass-dialog .modal-dialog {
    width: 300px;
}

.form-group .ln {
    margin-bottom: 20px;
}

.paginate {
    float: right;
    margin: 0;
}

.paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}

.list-group-dual {    
    border: 1px solid #ddd;
}

.list-group-dual .list-group-item {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    padding: 10px 10px;
    clear: both;
    height: 55px;
}

.list-group-dual .highlight {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;    
    background-color: #ccc;
}

.list-group-dual .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-dual .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px solid #ddd;
}

.list-group-dual .list-group-item .add {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
}

.list-group-dual .list-group-item .added {
    color: #ddd;
    cursor: default;
}

.list-group-dual .list-group-item .remove {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
}

.list-group-dual .list-group-item .count {
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
    float: left;
}

.list-group-dual .list-group-item .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    float: left;
}

@media screen and (max-width: 768px) {
    .list-group-dual .list-group-item .title { 
        width: 160px;
    }
}

.list-group-dual .list-group-item .title span {
    color: #999;
}

.list-group-dual.showcase .list-group-item .count {
    width: 25px;
    height: 30px;
}

.list-group-dual.showcase .list-group-item .image {
    float: left;
    margin: 0 5px 0 0;
    width: 32px;
    text-align: center;
    border: 1px solid #ccc;
}

.list-group-dual.showcase .list-group-item .title {
    width: 180px;
}

@media screen and (max-width: 768px) {
    .list-group-dual.showcase .list-group-item .title { 
        width: 150px;
    }
}

.list-group-dual.showcase .list-group-item .link {
    position: absolute;
    right: 35px;
    top: 15px;
    cursor: pointer;
}

.list-arrows {
    padding-top: 220px;
    position: absolute;
    left: -8px;
}

.player-control {
    clear: both;
}

.player-control .player-button-youtube {
    position: absolute;
    right: 38px;
    top: 14px;
    cursor: pointer;
}
.player-control .player-button {
    position: absolute;
    right: 38px;
    top: 14px;
    cursor: pointer;
}

.player-control .player-seek-bar {    
    cursor: pointer;
    width: 75%;
    height: 3px;
    background-color: #d2d6de;
    float: left;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .player-control .player-seek-bar { 
        width: 72%;
    }
}

.player-control .player-seek-bar .player-play-bar {
    height: 100%;
    width: 0%;
    background-color: #00a65a;
    overflow: hidden;
}

.player-control .player-timer {    
    font-size: 9px;
    color: #999;
    float: left;
    margin-right: 3px;
}

.player-control .player-duration {    
    font-size: 9px;
    color: #999;
    float: left;
    margin-left: 3px;
}

.player-control .kbit {
    font-size: 9px;
    color: #999;
    float: left;
}

.album-hot {
    text-align: center;
    position: relative;
}

.album-hot .remove-image {
    position: absolute;
    top: 42px;
    left: 210px;
}

.album-hot .name {
    text-align: center;
    padding-top: 5px;
}

.popup-add-song {
    margin-top: 5px;
}

.clear-all-song {
    margin-top: 5px;
}

.popup-copy-song {
    margin-top: 5px;
    margin-left: 10px;
}

.copied::after {
    position: absolute;
    bottom: 20px;
    right: 100px;
    display: block;
    content: "copied";
    font-size: 0.75em;
    padding: 2px 3px;
    color: #fff;
    background-color: #22a;
    border-radius: 3px;
    opacity: 0;
    animation: showcopied 1.5s ease;
}

@keyframes showcopied {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    70% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
    }
}

.bootstrap-select img {
    width: 30px;
    height: 30px;
}
.loader {
 position: fixed;
 left: 0px;
 top: 0px;
 opacity: 0.7;
 -moz-opacity: 0.8;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background: url('../img/p-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.div-scrollbar {
    position: relative;
    height: 320px;
    overflow: auto;
    
}
.table-wrapper-scroll-y {
    display: block;
}
