/**
 * linhlc
 */
.body{ overflow-y:visible !important}

.btn-inline {
    margin-top: 25px;
}

.modal-content {  
    border-radius: 4px;
    outline: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navbar-custom-menu > .navbar-nav > .admin-menu > .dropdown-menu {
    border-radius: 4px;
    outline: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 5px 0;
    margin: 2px 0 0;
    width: 180px;
}
.has-error .form-control-feedback {
    color: #a94442;
}
.reset-pass-dialog .modal-dialog {
    width: 300px;
}
.form-group .ln {
    margin-bottom: 20px;
}
.form-group-add a{
    padding-left: 20px;
    padding-right: 20px;
}
.paginate {
    float: right;
    margin: 0;
}
.paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}
.list-group-dual {    
    border: 1px solid #ddd;
}
.list-group-dual .list-group-item {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    padding: 10px 10px;
    clear: both;
    height: 55px;
}
.list-group-dual .highlight {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;    
    background-color: #ccc;
}
.list-group-dual .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-dual .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px solid #ddd;
}
.list-group-dual .list-group-item .add {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
}
.list-group-dual .list-group-item .added {
    color: #ddd;
    cursor: default;
}
.list-group-dual .list-group-item .remove {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
}

.list-group-dual .list-group-item .count {
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
    float: left;
}

.list-group-dual .list-group-item .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    float: left;
}

@media screen and (max-width: 768px) {
    .list-group-dual .list-group-item .title { 
        width: 160px;
    }
}

.list-group-dual .list-group-item .title span {
    color: #999;
}

.list-group-dual.showcase .list-group-item .count {
    width: 25px;
    height: 30px;
}

.list-group-dual.showcase .list-group-item .image {
    float: left;
    margin: 0 5px 0 0;
    width: 32px;
    text-align: center;
    border: 1px solid #ccc;
}

.list-group-dual.showcase .list-group-item .title {
    width: 180px;
}

@media screen and (max-width: 768px) {
    .list-group-dual.showcase .list-group-item .title { 
        width: 150px;
    }
}

.list-group-dual.showcase .list-group-item .link {
    position: absolute;
    right: 35px;
    top: 15px;
    cursor: pointer;
}

.list-arrows {
    padding-top: 220px;
    position: absolute;
    left: -8px;
}

.player-control {
    clear: both;
}
.player-control .player-button-youtube {
    position: absolute;
    right: 38px;
    top: 14px;
    cursor: pointer;
}
.player-control .player-button {
    position: absolute;
    right: 38px;
    top: 14px;
    cursor: pointer;
}

.player-control .player-seek-bar {    
    cursor: pointer;
    width: 75%;
    height: 3px;
    background-color: #d2d6de;
    float: left;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .player-control .player-seek-bar { 
        width: 72%;
    }
}

.player-control .player-seek-bar .player-play-bar {
    height: 100%;
    width: 0%;
    background-color: #00a65a;
    overflow: hidden;
}

.player-control .player-timer {    
    font-size: 9px;
    color: #999;
    float: left;
    margin-right: 3px;
}

.player-control .player-duration {    
    font-size: 9px;
    color: #999;
    float: left;
    margin-left: 3px;
}

.player-control .kbit {
    font-size: 9px;
    color: #999;
    float: left;
}

.album-hot {
    text-align: center;
    position: relative;
}

.album-hot .remove-image {
    position: absolute;
    top: 42px;
    left: 210px;
}

.album-hot .name {
    text-align: center;
    padding-top: 5px;
}
.popup-add-song {
    margin-top: 5px;
}
.popup-copy-song {
    margin-top: 5px;
    margin-left: 5px;
    margin-right:5px;
}
.copied::after {
    position: absolute;
    bottom: 20px;
    right: 100px;
    display: block;
    content: "copied";
    font-size: 0.75em;
    padding: 2px 3px;
    color: #fff;
    background-color: #22a;
    border-radius: 3px;
    opacity: 0;
    animation: showcopied 1.5s ease;
}

@keyframes showcopied {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    70% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
    }
}
.clear-all-song {
    margin-top: 5px;
}

.bootstrap-select img {
    width: 30px;
    height: 30px;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}
.update-device{
    padding: 5px;
    margin-bottom: -10px;
    margin-top: -13px;
}
.box-title{
    padding-left: 0px;
}
.update-device .panel {
    margin-bottom: 0px;
    margin-top: 3px;
}

.update-device .panel-body {
    padding: 3px;
    min-height: 28px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 3px 9px !important;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
@media screen and (min-width: 768px) and (max-width: 999px){
    .update-device{
        margin-top: 3px;
        margin-bottom: 3px;
        width: 50%;
    } 
}
@media screen and (max-width: 768px){
    .update-device{
        margin-top: 3px;
        margin-bottom: 3px;
        width: 50%;
    } 
}

.update-device .panel-body label {
    margin-bottom: 0px;
    font-weight: normal;
    padding-left: 3px;
    margin-top: 1px;
}
.device-status .panel {
    margin-bottom: 10px;
}

.device-status .panel-body {
    padding: 5px;
    min-height: 33px;
}

.device-status .panel-body label {
    margin-bottom: 0px;
    font-weight: normal;
    padding-left: 3px;
    margin-top: 1px;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    opacity: 0.7;
    -moz-opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/p-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
/*custom manage device*/
.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 14px;
    font-weight: 200;
    background-color: #fff;


    height: 100%;
    color: #1C86EE;
}
.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    background-color: #EEEEEE;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #666;

}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #666;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #EEEEEE;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #fff;
    border-left: 3px solid #777;
    margin-left: 0px;
    color:#444;
    font-weight: 600;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    /*background-color: #9C9C9C;*/
    color: #ccc;
}
.nav-side-menu ul .sub-menu li a:hover,
.nav-side-menu li .sub-menu li a:hover {
    /*background-color: #9C9C9C;*/
    color: #1C86EE;
}

.nav-side-menu li#list{
    padding-left: 0px;
    border-left: none;
}
.nav-side-menu li#listChild{
    padding-left: 0px;
    border-left: none;
}
.nav-side-menu li {

    border-bottom: 0.5px solid #999999;
}
#listChild{border-bottom:none !important;}
.active-parent{font-size:16px}
.nav-side-menu li a {
    text-decoration: none;
    color: #444;
    font-weight: 600;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {

    color: #1C86EE;

}
.nav-side-menu li a:hover {

    color: #1C86EE;

}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}
.a-click{
    padding-right: 4px;
}
.a-click i {
    font-size: 15px;
    font-weight: bold;
}
.node-selected-li{    
    color: #FFFFFF;
    background-color: #428bca !important;
}
.userNameDV{
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: 500px;
    overflow: hidden; 
    white-space: nowrap; 
    padding-right:5px; 
    text-overflow: ellipsis; 
    text-align:center;
}
.form-group-add {
    margin-top: 0px;
    margin-bottom: 7px;
}
/*    .list-group li:first-child{color: #FFFFFF;background-color: #428bca;}*/
/*    .list-group li a:hover{
        color: #428bca;
    }*/
.list-group-active a:hover{
    color: #fff !important;
}
.list-group li{
    padding-bottom: 0px;
    padding-top: 0px;
}
.list-group-active{
    color: #FFFFFF;
    background-color: #428bca;
}
.list-group-active:hover{
    color: #FFFFFF !important;
    background-color: #428bca !important;
}
.parent-li{
    padding-left: 20px !important;
    border-left: none !important;
}
.cus-width tr th{
    text-align:center !important;
}
.list-group li a{

    padding-top: 11px;
    padding-bottom: 11px;
}
@media screen and (max-width: 768px){
    .col-sm-4{
        width: 100%;
    }

}
@media screen and (max-width: 1400px) {
    .cus-width tr td{
        max-width:120px !important; overflow: hidden; white-space: nowrap; padding-right:5px; text-overflow: ellipsis; text-align:center;
    }
    .cus-width tr td div{
        max-width:120px !important; overflow: hidden; white-space: nowrap; padding-right:5px; text-overflow: ellipsis
    }
}
@media screen and (min-width: 1280px) and (max-width: 1400px) {
    .width-span{
        width: 65% !important;
    }  
}
@media screen and (min-width: 900px) and (max-width: 1280px) {
    .width-span{
        width: 67% !important;
    }  
}
@media screen and (min-width: 768px) and (max-width: 900px) {
    .width-span{
        width: 62% !important;
    }  
}
@media screen and (max-width: 450px) {
    .width-span{
        width: 60% !important;
    }  
}
.width-span{
    width: 72%;
    cursor: pointer;
}
.cus-width tr th:nth-child(1){
    width: 20px !important;
}
.cus-width tr td{
    overflow: hidden; white-space: nowrap; padding-right:8px; padding-left:8px; padding-top:8px; padding-bottom:8px; text-overflow: ellipsis; text-align:center;
}
.cus-width tr td div{
    overflow: hidden; white-space: nowrap; padding-right:5px; text-overflow: ellipsis
}
.table > thead > tr > td{
    padding: 8px !important;
    line-height: 1.42857143 !important;
    vertical-align: top;
}
.overload-tree{ max-height: 520px; min-height: 30px; overflow-y: scroll;}
.overload-tree::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.overload-tree::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
    border-radius:5px; 
}
.overload-tree::-webkit-scrollbar-thumb
{
    background-color: #3c8dbc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    border-radius: 5px;
}
#input-search{

}
.online{
    color: green;
}
.offline{
    color: gray;
}
.active-plus:before{
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    color: #000;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 10px;
}
.active-minus:before{
    content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    color: #000;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 10px;
}
/*custom autocomplete*/

#searchfield { display: block; width: 100%; text-align: center;}

#searchfield form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
}
#searchfield form .biginput {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
    color: #858585;
}
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
.btn-onclick{margin-right: 10px}
.list-group-item a{
    font-weight: 600;
}
table.dataTable thead .sorting_asc:after {
    content: "" !important;
}
table.dataTable thead > tr > th.sorting_asc{
    /*padding-right: 0px !important;*/
}
table.dataTable thead > tr > th.sorting_asc:nth-child(1){
    padding-right: 0px !important;
}
.content-body-dv{
    padding-top: 0px !important;
}
.node-disabled{
    display: none !important;
}
/*Model Popup*/
/* The Modal (background) */
.modal-devi {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px !important; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-devi {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /*    transform: skewX(-15deg);*/
}
.modal-content-devi-detail {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    /*    transform: skewX(-15deg);*/
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 7px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close-devi {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 7px;
}

.close-devi:hover,
.close-devi:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.area-album{
    padding-left: 0px;
    text-align: center;
}
.img-album{
    width: 140px;
    height:140px;
    border-radius: 10px;
    border: 5px solid #ccc;
}
.area-album h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
@media screen and (min-width: 1120px) and (max-width: 1400px) {
    .modal-content-devi {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 65%;
        /*    transform: skewX(-15deg);*/
    } 
    .modal-content-devi-detail {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 45%;
        /*    transform: skewX(-15deg);*/
    }
    .area-album{
        width: 30%;
    }
    .area-album-content{
        width: 70%;
    }
}
@media screen and (min-width: 900px) and (max-width: 1120px) {
    .modal-content-devi {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 85%;
        /*    transform: skewX(-15deg);*/
    } 
    .modal-content-devi-detail {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 55%;
        /*    transform: skewX(-15deg);*/
    }
    .area-album{
        width: 30%;
    }
    .area-album-content{
        width: 70%;
    }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
    .modal-content-devi {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        /*    transform: skewX(-15deg);*/
    } 
    .modal-content-devi-detail {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 65%;
        /*    transform: skewX(-15deg);*/
    }
    .area-album{
        width: 35%;
    }
    .area-album-content{
        width: 65%;
    }
}
@media screen and (min-width: 300px) and (max-width: 767px) {
    .modal-content-devi {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 85%;
        /*    transform: skewX(-15deg);*/
    } 
    .modal-content-devi-detail {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /*    transform: skewX(-15deg);*/
    }
    .area-album{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
}
/* customer list gr*/
.list-group {
    padding-left: 0;
    margin-bottom: 0px !important;
}
/* customer with user*/
@media (min-width: 992px)
{
    .custom-width-user {
        width: 30% !important;
        float: left;
    }
    .custom-width-device{
        width: 70% !important;
        float: left;
    }
}
.plang {
    position: absolute;
    top: 5px;
    right: 0;
    background: #005c95;
    /*background:#00a65a;*/
    width: 64px;
    height: 18px;
    text-align: center;
    padding: 5px 0 0 6px;
    float:right;
}

.plang a.active {
    font-weight: bold;
}
.plang a {
    color: #fff;
    display: block;
    float: left;
    padding: 0 6px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    text-transform: uppercase;
}
.plang a#en {
    padding-right: 0;
    border-left: 1px solid #fff;
}
.planglog {
    /*position: absolute;
    top: 5px;
    right: 0;*/
    float:right;
    background: #005c95;
    width: 64px;
    height: 18px;
    text-align: center;
    padding: 5px 0 0 6px;
}

.planglog a.active {
    font-weight: bolder;
}
.planglog a {
    color: #fff;
    display: block;
    float: left;
    padding: 0 6px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    text-transform: uppercase;
}
.planglog a#en {
    padding-right: 0;
    border-left: 1px solid #fff;
}
/* The Modal (background) */
.modal-devi-tube {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px !important; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.isong {
    cursor: pointer;
}
.dataTables_filter{
    text-align: right;
}

.added {
    color: #ddd;
    cursor: default;
}